# Set update schedule for each package manager

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every weekday
      interval: "daily"
    open-pull-requests-limit: 15

  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      # Check for updates managed by NuGet once a week
      interval: "daily"
    open-pull-requests-limit: 15
