[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0

# The name of the application
Name=Slithin

# A comment which can/will be used as a tooltip
Comment=Remarkable Management Application

# The path to the folder in which the executable is run
Path= /usr/share/Slithin

# The executable of the application, possibly with arguments.
Exec=Slithin

# The name of the icon that will be used to display this entry
Icon=Slithin

# Describes whether this application needs to be run in a terminal or not
Terminal=false
