<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Material.Avalonia Nightly" value="https://nuget.pkg.github.com/AvaloniaCommunity/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="SKProCH" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>